{% extends "form_base.html" %}
{% load static %}

{% block title %}
登陆
{% endblock %}

{% block content %}
<div id="form_div">
    <form action="/login/?next={{ url }}" method=post id="login_form">{% csrf_token %}
        <table style="border-collapse: separate;border-spacing: 0 28px; width: 300px">
            <tr>
                <!--<td><label for="name">请输入账号：</label></td>-->
                <!--<td><input type="text" name="user_id" class="form-control" id="name" placeholder="学号/工号"></td>-->
                <td><img src="{% static 'source/images/user.png' %}" class="image" style="top:75px;"></td>
                <td colspan="2"><input type="text" name="user_id" class="form-control" id="name" placeholder="学号/工号">
                </td>
            </tr>
            <tr>
                <td><img src="{% static 'source/images/password.png' %}" class="image" style="top:75px;"></td>
                <td colspan="2"><input type="password" name="password" class="form-control" id="passwd"
                                       placeholder="密码"></td>
            </tr>
            <tr>
                <td><img src="{% static 'source/images/verify.png' %}" class="image" style="top:75px;"></td>
                <td><input type="text" maxlength="4" name="check_code" class="form-control" id="code" placeholder="验证码">
                </td>
                <td align="center"><img id="check_code_img" src="/create_code/" onclick="refresh_check_code(this)"></td>
            </tr>
            <tr align="center">
                <td colspan="3"><input type="button" id="login_btn" class="btn btn-primary btn-block ml-1" value="登陆">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="left"><p style="color: red">{{ msg }}</p></td>
                <td align="right"><a href="/register/">注册</a></td>
            </tr>
        </table>
    </form>
</div>
<script>
    function refresh_check_code(ths) {
        ths.src += '?';
    }

    $("#login_btn").on('click', function () {
        var password = $("#passwd").val();
        var hash = hex_md5(password);
        $("#passwd").val(hash);
        $("#login_form").submit();
    });
</script>

{% endblock %}