{% extends "base.html" %}
{% load static %}

{% block title %}
提交作业
{% endblock %}

{% block nav %}
<li class="nav-item active">
    <a class="nav-link" href="/s/viewtask">查看作业<span class="sr-only">(current)</span></a>
</li>
{% endblock %}

{% block content %}
<div id="tip_div">
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <ul style="list-style-type: none; padding: 10px 0;">
            <li>
                <fieldset class="form-group">
                    <input type="file" class="form-control-file" id="InputFile" name="file">
                </fieldset>
            </li>
            <li class="mt-4">
                <input type="hidden" name="task_id" value="{{ task_id }}">
                <button type="submit" class="btn btn-primary btn-block">上传</button>
            </li>
        </ul>
    </form>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/s_submit.js' %}"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/form_base.css' %}">
{% endblock %}